.view-display-id-person_blog_page_hero_attachment .views-row-1 {
  min-height: 150px;
}

.view-display-id-person_blog_page_hero_attachment .views-field-field-people-bio {
	float: left;
	width: 75%;
}

.view-display-id-person_blog_page_hero_attachment .views-field-field-people-image {
  float: right;
  width: 25%;
  text-align: right;
}

.view-display-id-person_blog_page_hero_attachment .views-field-field-people-image img {
  height: 170px;
  width: auto;
  border-radius: 6px;
}